<h2 class="text-center mb-5">イベント一覧</h2>

<% if @events.present? %>
  <% @events.each do |event| %>
    <%= render "event_card", event: event %>
  <% end %>
<% else %>
  <p class="text-center">イベントがありません。寂しいですね〜。</p>
<% end %>

